/* CSS Document */
@mixin margin-l($all, $left) {
    margin: $all $all $all $left;
}

@mixin doubleBorderB($color) {
    border-bottom: $color double 20px;
}

@mixin box($bclr, $tclr) {
	padding: $defspace;
	border-radius: $radius;
	background: $bclr;
	color: $tclr;
}

@mixin qmax($sz) {
    @media screen and (max-width: $sz) {
        @content;
    }
}

@mixin qmin($sz) {
	@media screen and (min-width: $sz) {
		@content;
	}
}
